@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");
body {
  font-family: "Raleway", sans-serif;
  --middle-offset: 35px;
  --big-offset: 50px;
}

.container {
  max-width: 1550px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  --title-black-color: #242424;
  --text-black-color: #414141;
  --green-color: #539953;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

.page {
  margin-bottom: var(--middle-offset);
}
.page a {
  font-size: 16px;
  line-height: 150%;
  color: #828282;
}
.page .page__current {
  color: var(--text-black-color);
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-left {
  max-width: 815px;
}

.about__title {
  font-size: 34px;
  line-height: 150%;
  color: var(--text-black-color);
  margin-bottom: var(--middle-offset);
}

.about__introduction {
  font-size: 16px;
  line-height: 150%;
  color: var(--text-black-color);
  margin-bottom: var(--middle-offset);
}

.about__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--green-color);
  margin-bottom: var(--middle-offset);
}

.about__list {
  list-style: url(./../img/list-style.svg) inside;
  margin-bottom: var(--middle-offset);
}

.about__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-black-color);
}
.about__item:not(:last-child) {
  margin-bottom: 20px;
}

.about__item-title {
  font-weight: 700;
}

.about-right {
  width: 100%;
  max-width: 692px;
  display: grid;
  grid-template-areas: "a a" "b c";
  height: 100%;
  gap: 14px;
}

.about__video {
  max-width: 692px;
  border-radius: 10px;
  grid-area: a;
}

.about__photo-left {
  grid-area: b;
}

.about__photo-right {
  grid-area: c;
}

.about__quality {
  background: #F4F4F4;
  width: 100%;
  background-image: url("./../img/bg.svg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.about__quality-text {
  padding: 30px 0;
  padding-left: 70px;
  max-width: 1100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-black-color);
  position: relative;
}
.about__quality-text span {
  font-weight: 700;
}
.about__quality-text::before {
  content: "";
  position: absolute;
  height: calc(100% - 70px);
  top: 35px;
  width: 2px;
  left: 30px;
  background: rgba(90, 191, 90, 0.6);
}

.about__gallery {
  margin-top: var(--big-offset);
  margin-bottom: var(--big-offset);
}
.about__gallery .swiper-wrapper {
  margin-bottom: var(--big-offset);
}
.about__gallery .swiper-scrollbar {
  max-width: 90%;
}
.about__gallery .swiper-scrollbar-drag {
  background: #9AE29A;
}
.about__gallery .swiper-button-prev {
  top: 95%;
  z-index: 1000;
  left: 93%;
  height: 20px;
  width: 11px;
}
.about__gallery .swiper-button-prev::after {
  height: 20px;
  width: 11px;
  content: "<";
  color: var(--green-color);
  font-size: 40px;
}
.about__gallery .swiper-button-next {
  top: 95%;
  height: 20px;
  width: 11px;
  right: 20px;
}
.about__gallery .swiper-button-next::after {
  height: 20px;
  width: 15px;
  content: ">";
  color: var(--green-color);
  font-size: 40px;
}

.feedbacks {
  background: #F4F4F4;
}

.feedbacks__title {
  font-size: 34px;
  line-height: 150%;
  color: var(--title-black-color);
  padding: var(--big-offset) 0;
}

.feedbacks .swiper-button-prev {
  color: var(--green-color);
}
.feedbacks .swiper-button-next {
  color: var(--green-color);
}

.feedback {
  padding: 25px;
}

.feedback__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.feedback__rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.feedback__rating span {
  margin-right: 16px;
}

.feedback__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: var(--title-black-color);
}

.feedbacks__item {
  background: white;
  border-radius: 10px;
  min-height: 340px;
}

.feedback__date {
  font-size: 18px;
  line-height: 150%;
  color: var(--green-color);
}

.feedback__rating span {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #828282;
}

.feedback__text {
  font-size: 16px;
  line-height: 150%;
  color: var(--text-black-color);
}

.feedback__swiper {
  padding-bottom: var(--big-offset);
}

.feedbacks__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--big-offset);
}

.feedbacks__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(89.91deg, #FF9338 11.48%, #FF9C2D 51.87%, #FF844A 97.92%);
  border-radius: 8px;
  width: 246px;
  height: 50px;
  font-weight: 800;
  font-size: 13px;
  line-height: 150%;
  color: white;
  margin: 8px;
}
.feedbacks__btn img {
  margin-left: 10px;
}

.feedbacks__btn-border {
  border: 1px solid #FEB412;
  border-radius: 12px;
}

.response {
  background-image: url("./../img/response-green.svg"), url("./../img/response.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 344px;
  width: 100%;
}

.response-left {
  max-width: 550px;
  height: 344px;
  display: flex;
  align-items: center;
}

.response-left__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: white;
}

.response-left__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: white;
}

.response-right {
  max-width: 510px;
  display: flex;
  align-items: center;
}

.response__container {
  display: flex;
  justify-content: space-between;
}

.form {
  display: grid;
  grid-template-areas: "a b" "c d" "e e" "f g" "n n";
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.form button {
  height: 50px;
  border: 1px solid #FEB412;
  border-radius: 12px;
  font-weight: 800;
  font-size: 13px;
  line-height: 150%;
  background: inherit;
}

.form-input {
  height: 39px;
  background: rgba(255, 255, 255, 0.95);
  border: 0;
  border-radius: 10px;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A5A4A4;
}

.form-response {
  grid-area: a;
}

.form-name {
  grid-area: b;
}

.form-mail {
  grid-area: c;
}

.form-phone {
  grid-area: d;
}

.form-area {
  grid-area: e;
  height: 72px;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A5A4A4;
  resize: none;
  border-radius: 10px;
  border: none;
}

.form-photo {
  grid-area: f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: inherit;
}
.form-photo img {
  margin-left: 10px;
}

.form-submit {
  grid-area: g;
}

.form-checkbox {
  grid-area: n;
}
.form-checkbox span {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: white;
}

.form-submit__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
}

.form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(89.91deg, #FF9338 11.48%, #FF9C2D 51.87%, #FF844A 97.92%);
  border-radius: 8px;
  width: 246px;
  padding: 10px 0;
  font-weight: 800;
  font-size: 13px;
  line-height: 150%;
  color: white;
}
.form-submit-btn img {
  margin-left: 10px;
}

.form-checkbox__link {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border-bottom: 1px solid white;
  color: white;
}

.about__gallery img {
  width: 100%;
}

@media (max-width: 1300px) {
  .about__item {
    font-size: 15px;
  }
}
@media (max-width: 1128px) {
  .response {
    background-image: url("./../img/response.jpg");
    background-position: left;
  }
}
@media (max-width: 1100px) {
  .about-wrapper {
    flex-direction: column;
  }
  .about-right {
    max-width: 100%;
  }
  .about-right img {
    width: 100%;
    height: 300px;
  }
  .about__video {
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  .about-right {
    grid-template-areas: "a" "b" "c";
  }
  .form {
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "n";
    grid-template-columns: 1fr;
  }
  .form .form-submit-btn {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .feedbacks__item {
    min-height: 300px;
  }
  .response__container {
    flex-direction: column;
  }
  .response-right {
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background: var(--green-color);
    max-width: 100%;
    border-radius: 20px;
  }
}
@media (max-width: 704px) {
  .about__quality {
    background-image: none;
  }
}
@media (max-width: 900px) {
  .about__gallery .swiper-button-prev {
    left: calc(93% - 20px) !important;
  }
}
@media (max-width: 700px) {
  .about__gallery .swiper-button-prev {
    left: 0 !important;
    top: calc(50% - 10px);
  }
  .about__gallery .swiper-button-next {
    right: 10px !important;
    top: calc(50% - 10px);
  }
  .about__gallery .swiper-scrollbar {
    max-width: 100%;
    width: 100%;
  }
}